Repository piepworks/stacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, eslint, stylelint

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^static/js/vendor/|^static/css/vendor/|^static_src/css/vendor/
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        exclude: ^core/migrations/
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.0.0-alpha.9-for-vscode'
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: pending-migrations
        name: Check for pending migrations
        language: system
        entry: .venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: eslint
        name: Run ESLint
        language: system
        entry: npx eslint ./templates/js
        types: [javascript]
        pass_filenames: false
      - id: stylelint
        name: Run Stylelint
        language: system
        entry: npx stylelint "static_src/css/*.css"
        types: [css]
        pass_filenames: false
      # - id: playwright
      #   name: Run Playwright
      #   language: system
      #   entry: npx playwright test
      #   files: \.(css|html|js)$
      #   pass_filenames: false

Update htmx, install stuff with npm & copy files
  .dockerignore
  .gitignore
  Dockerfile
  fly/start.sh
  justfile
  package-lock.json
  package.json
  requirements/requirements.in
  requirements/requirements.txt
  static/js/vendor/alpinejs-3.14.1.min.js
  static/js/vendor/alpinejs-morph-3.14.1.min.js
  static/js/vendor/alpinejs-sort-3.14.1.min.js
  static/js/vendor/htmx-1.9.12-alpine-morph.js
  static/js/vendor/htmx-1.9.12.min.js
  templates/base.html
Due: eslint

Django security update
  requirements/requirements.txt
Due: none

Get tests to run in VS Code!
  .vscode/settings.json
Due: none

Fix some pagination issues
  core/views.py
  templates/components/book-list.html
Due: pending-migrations

Fix filter reset
  templates/components/book-filters.html
  templates/components/book-list.html
  templates/js/main.js
Due: eslint

Capture Open Library info even without a cover
  core/cover_helpers.py
  core/forms.py
  core/migrations/0008_alter_book_olid.py
  core/models.py
  core/views.py
Due: pending-migrations

Default to wishlist if status isn't set
  core/views.py
Due: pending-migrations

Remove lots of duplication with icon CSS
  static_src/css/components/buttons.css
Due: stylelint

Better icons
  core/views.py
  static/img/seahorse-64x64.png
  static/img/seahorse.svg
  static_nonversioned/android-chrome-192x192.png
  static_nonversioned/android-chrome-512x512.png
  static_nonversioned/apple-touch-icon.png
  static_nonversioned/browserconfig.xml
  static_nonversioned/favicon-16x16.png
  static_nonversioned/favicon-32x32.png
  static_nonversioned/favicon.png
  static_nonversioned/mstile-150x150.png
  static_nonversioned/site.webmanifest
  templates/base.html
Due: pending-migrations

Updates
  package-lock.json
  requirements/requirements.txt
Due: none

Fix typo
  static_src/css/components/buttons.css
Due: stylelint

Pico text selection color without transparency
  templates/base.html
Due: none

Different theme colors for light and dark mode
  templates/base.html
Due: none

Add back real image dimensions
  templates/book_detail.html
  templates/components/book-list-item.html
Due: none

Show filter info even if there are 0 matches
  static_src/css/components/page-header.css
  templates/components/book-list.html
Due: stylelint

That class seems appropriate for these cases
  templates/author_detail.html
  templates/book_detail.html
Due: none

An attempt at improving the filter display
  static_src/css/components/page-header.css
Due: stylelint

Put filter summary info on its own lines
  static_src/css/components/page-header.css
  templates/components/book-list.html
Due: stylelint

This feels a lot faster
  templates/components/book-list-item.html
Due: none

Don't show empty author bio
  templates/author_detail.html
Due: none

Scroll to and highlight edited note
  core/views.py
  static_src/css/components/notes.css
  templates/book_detail.html
Due: pending-migrations, stylelint

Do that scroll/animation stuff on new notes too
  core/views.py
Due: pending-migrations

Add link to add missing book to Open Library
  core/views.py
  static_src/css/components/messages.css
Due: pending-migrations, stylelint

Fix edge case of manually adding a book blowing up
  core/views.py
Due: pending-migrations

Prevent zoom on search input…
  static_src/css/components/forms.css
Due: stylelint

Add :active for the sake of mobile taps
  static_src/css/components/buttons.css
  static_src/css/components/covers.css
Due: stylelint

Going back to the old way
  templates/author_detail.html
  templates/book_detail.html
Due: none

Scroll past filters when changing pages
  templates/components/book-list.html
Due: none

Set thumbnail dimensions in the database
  core/management/commands/thumbnail_dimensions.py
  core/migrations/0009_bookcover_thumbnail_height_bookcover_thumbnail_width.py
  core/migrations/0010_alter_bookcover_thumbnail.py
  core/models.py
  templates/components/book-list-item.html
Due: pending-migrations

Do the same thing for the big images
  core/management/commands/cover_dimensions.py
  core/migrations/0011_bookcover_image_height_bookcover_image_width_and_more.py
  core/models.py
  templates/book_detail.html
Due: pending-migrations

Make links in the yellow fade look better
  static_src/css/components/notes.css
Due: stylelint

Get Playwright working again
  e2e/auth.setup.js
  e2e/home-page.spec.js
  e2e/home-page.spec.js-snapshots/home-page-dark-chromium-darwin.png
  e2e/home-page.spec.js-snapshots/home-page-dark-firefox-darwin.png
  e2e/home-page.spec.js-snapshots/home-page-dark-webkit-darwin.png
  e2e/home-page.spec.js-snapshots/home-page-light-chromium-darwin.png
  e2e/home-page.spec.js-snapshots/home-page-light-firefox-darwin.png
  e2e/home-page.spec.js-snapshots/home-page-light-webkit-darwin.png
  e2e/login-page.spec.js
  e2e/settings-page.spec.js
  e2e/settings-page.spec.js-snapshots/settings-page-dark-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-webkit-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-webkit-darwin.png
Due: eslint

More ways to prevent an empty status
  core/views.py
  templates/ol_search.html
Due: pending-migrations

Make footer links look a lot nicer
  e2e/settings-page.spec.js-snapshots/settings-page-dark-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-webkit-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-webkit-darwin.png
  static_src/css/components/all.css
  static_src/css/components/buttons.css
  static_src/css/components/footer.css
  static_src/css/utilities/all.css
  templates/base.html
Due: stylelint

Add authors to search results
  core/models.py
  core/views.py
  static_src/css/components/lists-of-books.css
  templates/search.html
Due: pending-migrations, stylelint

A persistent + link to add a book from every page
  e2e/settings-page.spec.js-snapshots/settings-page-dark-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-webkit-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-webkit-darwin.png
  static_src/css/components/buttons.css
  templates/base.html
Due: stylelint

Persistent + link opens modal, allow status choice
  config/settings.py
  core/context_processors.py
  core/views.py
  static_src/css/components/buttons.css
  templates/base.html
  templates/components/add-book-modal.html
  templates/components/book-list.html
  templates/components/ol-search-form.html
  templates/search.html
Due: pending-migrations, stylelint

Deal with OpenLibrary being offline at the moment
  core/cover_helpers.py
  requirements/requirements.in
  requirements/requirements.txt
Due: pending-migrations

Pass query through after an error
  core/views.py
Due: pending-migrations
