Repository piepworks/stacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, eslint, stylelint

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^static/js/vendor/|^static/css/vendor/|^static_src/css/vendor/
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        exclude: ^core/migrations/
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.0.0-alpha.9-for-vscode'
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: pending-migrations
        name: Check for pending migrations
        language: system
        entry: .venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: eslint
        name: Run ESLint
        language: system
        entry: npx eslint ./templates/js
        types: [javascript]
        pass_filenames: false
      - id: stylelint
        name: Run Stylelint
        language: system
        entry: npx stylelint "static_src/css/*.css"
        types: [css]
        pass_filenames: false
      # - id: playwright
      #   name: Run Playwright
      #   language: system
      #   entry: npx playwright test
      #   files: \.(css|html|js)$
      #   pass_filenames: false

Display and administer changelog entries
  config/urls.py
  core/admin.py
  core/migrations/0054_alter_changelog_options_alter_changelog_details.py
  core/models.py
  core/views.py
  static_src/css/main.css
  templates/changelog.html
Due: pending-migrations, stylelint

Newest created first
  core/migrations/0055_alter_changelog_options.py
  core/models.py
Due: pending-migrations

Add changelog to nav
  static_src/css/includes/buttons.css
  templates/base.html
Due: stylelint

Badge on the changelog nav when something's new
  config/urls.py
  core/views.py
  static_src/css/includes/buttons.css
  static_src/css/main.css
  templates/base.html
  templates/changelog.html
  templates/changelog_latest.txt
  templates/js/main.js
Due: pending-migrations, eslint, stylelint

Add RSS feed for the Changelog
  config/urls.py
  core/views.py
  templates/base.html
  templates/changelog.html
Due: pending-migrations

Try lazy loading images
  templates/components/book-list-item.html
Due: none

Add dates to Projects
  core/views.py
Due: pending-migrations

Adjust timezone migration
  core/migrations/0056_adjust_timezone_migration.py
Due: pending-migrations

How the hell did that happen?
  templates/home.html
Due: none

Use the admin register decorator
  core/admin.py
Due: pending-migrations

Updates
  package-lock.json
  requirements/requirements.txt
Due: none

Add-book modal on empty search results page
  core/views.py
  templates/components/add-book-modal.html
  templates/search.html
Due: pending-migrations

Show a spinner on Open Library results page
  static_src/css/main.css
  templates/ol_search.html
Due: stylelint

Show genre(s) on book detail page
  templates/book_detail.html
Due: none

Fix book page cover buttons
  static_src/css/main.css
Due: stylelint

Don't autofocus on title field on search results
  core/forms.py
  core/views.py
Due: pending-migrations

Adjust book note styles
  static_src/css/includes/notes.css
Due: stylelint

Add a delete author view
  config/urls.py
  core/views.py
  templates/book_detail.html
Due: pending-migrations

Do our own automatic thumbnail images
  config/settings.py
  core/image_helpers.py
  core/management/commands/generate_thumbnails.py
  core/migrations/0057_bookcover_thumbnail_alter_bookcover_image.py
  core/migrations/0058_alter_bookcover_thumbnail.py
  core/migrations/0059_alter_bookcover_image.py
  core/models.py
  core/tasks.py
  requirements/requirements.in
  requirements/requirements.txt
  templates/components/book-list-item.html
Due: pending-migrations

Put ImageKit back for the sake of migrations
  requirements/requirements.in
  requirements/requirements.txt
Due: none

Reset migrations to get rid of ImageKit
  .pre-commit-config.yaml
  core/migrations/0001_initial.py
  core/migrations/0036_alter_author_slug_alter_book_slug.py
  core/migrations/0037_alter_bookreading_options.py
  core/migrations/0038_bookstatuschange.py
  core/migrations/0039_bookstatuschange_created_at_and_more.py
  core/migrations/0040_alter_bookstatuschange_book.py
  core/migrations/0041_remove_bookstatuschange_created_at_and_more.py
  core/migrations/0042_alter_bookstatuschange_options.py
  core/migrations/0043_author_user_book_user_alter_author_slug_and_more.py
  core/migrations/0044_alter_author_unique_together_and_more.py
  core/migrations/0045_alter_book_location.py
  core/migrations/0046_user_timezone.py
  core/migrations/0047_book_imported.py
  core/migrations/0048_book_genres_alter_book_genre.py
  core/migrations/0049_auto_20240710_1917.py
  core/migrations/0050_remove_book_genre.py
  core/migrations/0051_alter_bookgenre_options.py
  core/migrations/0052_rename_genres_book_genre.py
  core/migrations/0053_changelog.py
  core/migrations/0054_alter_changelog_options_alter_changelog_details.py
  core/migrations/0055_alter_changelog_options.py
  core/migrations/0056_adjust_timezone_migration.py
  core/migrations/0057_bookcover_thumbnail_alter_bookcover_image.py
  core/migrations/0058_alter_bookcover_thumbnail.py
  core/migrations/0059_alter_bookcover_image.py
  requirements/requirements.in
  requirements/requirements.txt
Due: pending-migrations

Start adding book series (squashed)
  config/urls.py
  core/admin.py
  core/forms.py
  core/migrations/0002_series_seriesbook_series_books_and_more.py
  core/migrations/0003_alter_seriesbook_unique_together_and_more.py
  core/migrations/0004_alter_seriesbook_unique_together.py
  core/migrations/0005_alter_series_options.py
  core/models.py
  core/views.py
  static/js/vendor/alpinejs-3.13.8.min.js
  static/js/vendor/alpinejs-3.14.1.min.js
  static/js/vendor/alpinejs-morph-3.14.1.min.js
  static/js/vendor/alpinejs-sort-3.14.1.min.js
  templates/base.html
  templates/series_detail.html
  templates/series_form.html
Due: pending-migrations, eslint

Series ordering working without JS
  core/forms.py
  core/models.py
  core/views.py
  templates/series_detail.html
Due: pending-migrations

Move Alpine logic into a script tag
  templates/series_detail.html
Due: none

Finally figured out how to get at the dom element
  templates/series_detail.html
Due: none

Get sorting working
  core/views.py
  templates/components/series-list.html
  templates/series_detail.html
Due: pending-migrations

That was some detritus
  templates/changelog_latest.txt
Due: none

Update placeholder site description
  templates/base.html
Due: none

Revert "That was some detritus"
  templates/changelog_latest.txt
Due: none

Add series list page
  config/urls.py
  core/views.py
  static_src/css/includes/buttons.css
  templates/base.html
  templates/series_list.html
Due: pending-migrations, stylelint

Add new series link
  templates/series_list.html
Due: none

Add book to series, adjust page titles
  config/urls.py
  core/views.py
  templates/series_add_book.html
  templates/series_detail.html
  templates/series_form.html
  templates/series_list.html
Due: pending-migrations

More functional ordering with little handles
  static_src/css/includes/buttons.css
  static_src/css/main.css
  templates/components/series-list.html
  templates/series_detail.html
Due: stylelint

Add book links
  templates/components/series-list.html
Due: none

Remove books from a series
  config/urls.py
  core/views.py
  static_src/css/includes/buttons.css
  static_src/css/main.css
  templates/components/series-list.html
  templates/series_detail.html
Due: pending-migrations, stylelint

Adjust log-out link
  static_src/css/includes/buttons.css
  templates/base.html
Due: stylelint

Update Series icon
  static_src/css/includes/buttons.css
Due: stylelint

Add confirmation dialog for removing from a series
  templates/components/series-list.html
Due: none

Show series(s) on book detail page
  templates/book_detail.html
Due: none
