Repository piepworks/stacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, eslint, stylelint

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^static/js/vendor/|^static/css/vendor/|^static_src/css/vendor/
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        exclude: ^core/migrations/
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.0.0-alpha.9-for-vscode'
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: pending-migrations
        name: Check for pending migrations
        language: system
        entry: .venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: eslint
        name: Run ESLint
        language: system
        entry: npx eslint ./templates/js
        types: [javascript]
        pass_filenames: false
      - id: stylelint
        name: Run Stylelint
        language: system
        entry: npx stylelint "static_src/css/*.css"
        types: [css]
        pass_filenames: false
      # - id: playwright
      #   name: Run Playwright
      #   language: system
      #   entry: npx playwright test
      #   files: \.(css|html|js)$
      #   pass_filenames: false

Fix some messed up stuff with book details table…
  templates/book_detail.html
Due: none

Updates
  package-lock.json
  package.json
  requirements/requirements.txt
Due: none

Remove Celery since we're using Huey now
  config/__init__.py
  config/celery.py
  example-local.env
  example-production.env
  requirements/requirements.in
  requirements/requirements.txt
Due: pending-migrations

Set up a Just command for Huey
  justfile
Due: none

Move Changelog icon to the right
  templates/base.html
Due: none

Make the remove from series button smaller
  static_src/css/main.css
  templates/components/series-list.html
Due: stylelint

Toggle list management UI
  core/views.py
  static_src/css/main.css
  templates/components/series-list.html
  templates/series_detail.html
Due: pending-migrations, stylelint

Set default ordering for series
  core/migrations/0006_alter_series_options.py
  core/models.py
Due: pending-migrations

Show number of books in a series
  static_src/css/main.css
  templates/series_list.html
Due: stylelint

Linkify the series description
  core/views.py
  templates/series_detail.html
Due: pending-migrations

Auto-focus on some form fields
  core/forms.py
  templates/series_add_book.html
Due: pending-migrations

Focus styles
  static_src/css/main.css
Due: stylelint

Space out header buttons on mobile series detail
  static_src/css/main.css
Due: stylelint

Update license from boilerplate
  LICENSE.md
Due: none

Updates
  package-lock.json
  requirements/requirements.txt
Due: none

Use the new `login_not_required` decorator
  config/settings.py
  core/views.py
  package-lock.json
Due: pending-migrations

Show published year on books in a series list
  static_src/css/main.css
  templates/components/series-list.html
Due: stylelint

Tweak some series book adjustment styles
  static_src/css/main.css
Due: stylelint

Organize CSS imports
  static_src/css/components/all.css
  static_src/css/components/buttons.css
  static_src/css/components/copyright.css
  static_src/css/components/covers.css
  static_src/css/components/filters.css
  static_src/css/components/finished-counts.css
  static_src/css/components/forms.css
  static_src/css/components/lists-of-books.css
  static_src/css/components/messages.css
  static_src/css/components/modal.css
  static_src/css/components/navigation.css
  static_src/css/components/notes.css
  static_src/css/components/page-header.css
  static_src/css/components/series.css
  static_src/css/components/stars.css
  static_src/css/components/tom-select.css
  static_src/css/main.css
  static_src/css/pages/all.css
  static_src/css/pages/home.css
  static_src/css/pages/series.css
  static_src/css/utilities/all.css
  static_src/css/utilities/djdt-pico-cooperation.css
Due: stylelint

Fix up form fields a bit
  core/templates/forms/field.html
  static_src/css/components/forms.css
  templates/book_form.html
  templates/series_form.html
  templates/settings.html
Due: stylelint

Add reviews to readings
  core/forms.py
  core/migrations/0007_bookreading_review.py
  core/models.py
  core/views.py
  static_src/css/components/notes.css
  templates/book_detail.html
Due: pending-migrations, stylelint

Display changelog entry details
  core/views.py
  static_src/css/utilities/all.css
  templates/changelog.html
Due: pending-migrations, stylelint

Reviews wrap instead of stretching readings table
  static_src/css/components/notes.css
Due: stylelint

Fix status form on search results page
  core/views.py
  templates/search.html
Due: pending-migrations

Adjust some form spacing
  static_src/css/components/forms.css
  templates/settings.html
Due: stylelint

More form adjustments
  templates/author_form.html
  templates/cover_form.html
  templates/import_books.html
Due: none

Don't wrap table headers
  static_src/css/utilities/all.css
Due: stylelint

Updates, un-pinning requests version
  package-lock.json
  requirements/requirements.in
  requirements/requirements.txt
Due: none

Add my collection of icons …
  RemixIcon_Collection_2406051607.remixicon
Due: none

Trim whitespace from search query
  core/views.py
Due: pending-migrations

Add series count to user admin
  core/admin.py
Due: pending-migrations

Add admin author count and fix series stuff
  core/admin.py
Due: pending-migrations

Fix registration!
  core/forms.py
  core/views.py
Due: pending-migrations

Make `textual` the default book `type`
  core/views.py
Due: pending-migrations

Make author detail text look better
  static_src/css/components/all.css
  static_src/css/components/articles.css
  static_src/css/pages/series.css
  templates/author_detail.html
  templates/series_detail.html
Due: stylelint
