Repository piepworks/stacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, eslint, stylelint

pending-migrations:
  name: Check for pending migrations
  language: system
  entry: .venv/bin/python manage.py makemigrations --check --dry-run
  pass_filenames: false

eslint:
  name: Run ESLint
  language: system
  entry: npx eslint ./templates/js
  pass_filenames: false

stylelint:
  name: Run Stylelint
  language: system
  entry: npx stylelint "static_src/css/*.css"
  pass_filenames: false

Pancakes!
  static_nonversioned/apple-touch-icon.png
  static_nonversioned/favicon.png
Due: none

Make the pancakes bigger.
  static_nonversioned/apple-touch-icon.png
Due: none

When you finish a book, prompt to review it.
  core/views.py
  templates/components/book-list.html
Due: pending-migrations

Highlight reading after updating/saving.
  core/views.py
  static_src/css/components/all.css
  static_src/css/components/animated-highlights.css
  static_src/css/components/notes.css
  static_src/css/components/readings.css
  templates/book_detail.html
Due: pending-migrations, stylelint

Add help_text on rating.
  core/forms.py
Due: pending-migrations

Change rating to PositiveSmallIntegerField.
  core/migrations/0018_alter_bookreading_rating.py
  core/models.py
Due: pending-migrations

Updates.
  package-lock.json
  uv.lock
Due: none

Align covers on small screens better.
  static_src/css/components/lists-of-books.css
Due: stylelint

First step of revamping the logged-out home page.
  static_src/css/pages/home.css
Due: stylelint

Update logged-out homepage.
  e2e/login-page.spec.js
  static/img/desktop.png
  static/img/mobile.png
  static_src/css/pages/home.css
  templates/base.html
  templates/home.html
Due: eslint, stylelint

Let's try fancy font loading.
  e2e/settings-page.spec.js-snapshots/settings-page-dark-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-webkit-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-webkit-darwin.png
  static/fonts/Lato-Bold.woff2
  static/fonts/Lato-BoldItalic.woff2
  static/fonts/Lato-Italic.woff2
  static/fonts/Lato-Regular.woff2
  static_src/css/components/all.css
  static_src/css/components/typography.css
  static_src/css/pages/home.css
Due: stylelint

Moving a book from reading backwards adds end date.
  core/models.py
Due: pending-migrations

New tagline just dropped.
  templates/base.html
Due: none

Screenshots in light/ dark mode as appropriate.
  static/img/desktop-dark.png
  static/img/desktop-light.png
  static/img/desktop.png
  static/img/mobile-dark.png
  static/img/mobile-light.png
  static/img/mobile.png
  static_src/css/pages/home.css
  templates/home.html
Due: stylelint

Update Node on the server.
  Dockerfile
Due: none

Fix odd svg spacing issues.
  e2e/settings-page.spec.js-snapshots/settings-page-dark-webkit-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-webkit-darwin.png
  static_src/css/components/buttons.css
Due: stylelint

Smart quotes for book titles.
  core/templatetags/smartypants.py
  pyproject.toml
  templates/book_detail.html
  templates/components/book-list-item.html
  uv.lock
Due: pending-migrations

Apostrophe in a querystring broke stuff.
  templates/components/ol-search-form.html
Due: none

When you search to add, check if you have it.
  core/views.py
  templates/ol_search.html
Due: pending-migrations

Adjust some colors on the changelog page.
  static_src/css/pages/all.css
  static_src/css/pages/changelog.css
  templates/changelog.html
Due: stylelint

Add GitHub icon and link to homepage.
  static_src/css/components/buttons.css
  templates/home.html
Due: stylelint

Fix search results forms.
  core/views.py
Due: pending-migrations

Fix registration.
  config/urls.py
  core/views.py
  templates/django_registration/activation_complete.html
  templates/django_registration/activation_email_body.txt
  templates/django_registration/activation_form.html
Due: pending-migrations

Show message to check email after registering.
  config/urls.py
  core/views.py
  templates/django_registration/registration_complete.html
Due: pending-migrations

Hide input field.
  templates/django_registration/activation_form.html
Due: none

Install stuff with uv in production.
  Dockerfile
Due: none

Path conditions:
  pending-migrations: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
  stylelint: any of: \.css$
