Repository piepworks/stacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, eslint, stylelint

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^static/js/vendor/|^static/css/vendor/|^static_src/css/vendor/
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        exclude: ^core/migrations/
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.0.0-alpha.9-for-vscode'
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: pending-migrations
        name: Check for pending migrations
        language: system
        entry: .venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: eslint
        name: Run ESLint
        language: system
        entry: npx eslint ./templates/js
        types: [javascript]
        pass_filenames: false
      - id: stylelint
        name: Run Stylelint
        language: system
        entry: npx stylelint "static_src/css/*.css"
        types: [css]
        pass_filenames: false
      # - id: playwright
      #   name: Run Playwright
      #   language: system
      #   entry: npx playwright test
      #   files: \.(css|html|js)$
      #   pass_filenames: false

Celery sans Redis
  config/settings.py
  requirements/requirements.in
  requirements/requirements.txt
Due: pending-migrations

Updates
  package-lock.json
  requirements/requirements.txt
Due: none

Remove that chunk stuff
  core/views.py
Due: pending-migrations

Fix date parsing for currently-reading books
  core/tasks.py
Due: pending-migrations

Remove the example Celery stuff
  config/urls.py
  core/forms.py
  core/tasks.py
  core/views.py
  templates/generate_random_users.html
Due: pending-migrations

Have Celery use its own database
  config/settings.py
Due: pending-migrations

Hide import for now
  core/views.py
  templates/base.html
Due: pending-migrations

Show when a book was added in status section
  templates/book_detail.html
Due: none

Had the chronological order wrong
  templates/book_detail.html
Due: none

Remove Goodreads import link
  templates/components/book-list.html
Due: none

Autofocus title field in new book modal
  core/forms.py
Due: pending-migrations

Move search field to the top of the page
  static_src/css/includes/buttons.css
  static_src/css/includes/navigation.css
  static_src/css/main.css
  static_src/css/vendor/pico.css
  static_src/css/vendor/pico.min.css
  templates/base.html
  templates/components/search-form.html
  templates/search.html
  templates/status.html
Due: stylelint

Prevent duplicate search results
  core/views.py
Due: pending-migrations

Focus on search with `/` key
  templates/base.html
  templates/js/main.js
  templates/js/placeholder.js
Due: eslint

Try Huey as a Celery replacement
  .dockerignore
  .gitignore
  config/settings.py
  core/tasks.py
  core/views.py
  fly/start.sh
  requirements/requirements.in
  requirements/requirements.txt
Due: pending-migrations

Hopefully catch when thumbnails aren't ready
  static_src/css/main.css
  templates/components/book-list.html
  templates/components/no-cover.html
Due: stylelint

Update copy
  core/views.py
Due: pending-migrations

Make Zed a little happier
  pyproject.toml
Due: none

Send email after import is complete!
  config/settings.py
  core/tasks.py
Due: pending-migrations

Catch more errors when browsing while importing
  templates/components/book-list.html
Due: none

Add an imports page
  config/urls.py
  core/tasks.py
  core/views.py
  templates/imports.html
Due: pending-migrations

Everyone can import
  core/views.py
  templates/base.html
Due: pending-migrations

Add a link to Goodreads exports
  core/forms.py
  templates/import_books.html
Due: pending-migrations

Add support for importing from The StoryGraph
  core/import_helpers.py
  core/tasks.py
  core/utils.py
  core/views.py
  templates/import_books.html
Due: pending-migrations

Add some basic tests for imports
  config/tests/test_views.py
Due: pending-migrations

Updates
  justfile
  package-lock.json
  requirements/requirements.txt
Due: none

Show status adjustment button on search results
  core/views.py
  static_src/css/main.css
  templates/components/book-list-item.html
  templates/components/book-list.html
  templates/search.html
Due: pending-migrations, stylelint

Remove Sentry JS nonsense
  templates/base.html
Due: none

Add new Just script
  justfile
Due: none

Update Django
  requirements/requirements.txt
Due: none

Ignore "/" key shortcut when entering text
  templates/js/main.js
Due: eslint

Start the move from genre to genres
  core/migrations/0048_book_genres_alter_book_genre.py
  core/models.py
Due: pending-migrations

Migrate genre to genres
  core/migrations/0049_auto_20240710_1917.py
Due: pending-migrations

Hopefully get `genres` working properly
  config/tests/test_models.py
  config/tests/test_views.py
  core/filter_helpers.py
  core/forms.py
  core/migrations/0050_remove_book_genre.py
  core/migrations/0051_alter_bookgenre_options.py
  core/models.py
  core/views.py
  templates/book_form.html
Due: pending-migrations

Change `genres` back to `genre`
  config/tests/test_models.py
  config/tests/test_views.py
  core/filter_helpers.py
  core/forms.py
  core/migrations/0052_rename_genres_book_genre.py
  core/models.py
  core/views.py
  templates/book_form.html
Due: pending-migrations

Un-break non-genre filter counts
  core/filter_helpers.py
Due: pending-migrations

Fix updating book status
  core/forms.py
Due: pending-migrations

Add Changelog model
  core/migrations/0053_changelog.py
  core/models.py
Due: pending-migrations
