Repository piepworks/stacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, eslint, stylelint

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^static/js/vendor/|^static/css/vendor/|^static_src/css/vendor/
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        exclude: ^core/migrations/
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.0.0-alpha.9-for-vscode'
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: pending-migrations
        name: Check for pending migrations
        language: system
        entry: .venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: eslint
        name: Run ESLint
        language: system
        entry: npx eslint ./templates/js
        types: [javascript]
        pass_filenames: false
      - id: stylelint
        name: Run Stylelint
        language: system
        entry: npx stylelint "static_src/css/*.css"
        types: [css]
        pass_filenames: false
      # - id: playwright
      #   name: Run Playwright
      #   language: system
      #   entry: npx playwright test
      #   files: \.(css|html|js)$
      #   pass_filenames: false

Let's try going all in on uv.
  justfile
  manage.py
  pyproject.toml
  requirements/requirements.in
  requirements/requirements.txt
  uv.lock
Due: pending-migrations

Book export mostly working
  config/settings.py
  core/admin.py
  core/resources.py
  pyproject.toml
  uv.lock
Due: pending-migrations

Updates
  package-lock.json
  uv.lock
Due: none

Make that button work w/o JS, populate title
  templates/components/ol-search-form.html
  templates/search.html
Due: none

Still populate new book form if Open Library fails
  core/views.py
Due: pending-migrations

Add 'n' keyboard shortcut to open add book modal.
  templates/components/add-book-modal.html
  templates/js/main.js
Due: eslint

Add un-archive functionality, (un)archive icons.
  config/urls.py
  core/views.py
  static_src/css/components/buttons.css
  templates/book_detail.html
Due: pending-migrations, stylelint

Append (Archived) to titles of archived books
  core/models.py
  templates/components/logbook-list.html
Due: pending-migrations

Dracula admin theme!
  config/settings.py
  pyproject.toml
  uv.lock
Due: pending-migrations

Get clear search icon to work on iOS.
  static_src/css/components/forms.css
Due: stylelint

Get consistent search field appearance.
  static_src/css/components/forms.css
Due: stylelint

Add offline message.
  static_src/css/components/all.css
  static_src/css/components/offline-banner.css
  templates/base.html
  templates/js/main.js
Due: eslint, stylelint

Add back Playwright testing to pre-commit.
  .pre-commit-config.yaml
Due: none

Update snapshots from changing the search field.
  e2e/settings-page.spec.js-snapshots/settings-page-dark-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-webkit-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-webkit-darwin.png
Due: none

Remove null option for ImageFields.
  core/migrations/0015_alter_bookcover_image_alter_bookcover_thumbnail.py
  core/models.py
Due: pending-migrations

Make authors optional.
  core/migrations/0016_alter_book_author.py
  core/models.py
Due: pending-migrations

Set things up to search Open Library for anything.
  core/cover_helpers.py
  core/forms.py
  core/views.py
Due: pending-migrations

Show and hide bits of the search form.
  core/forms.py
  static_src/css/components/forms.css
  templates/base.html
  templates/components/ol-search-form.html
Due: pending-migrations, stylelint

Update Python on Fly.
  Dockerfile
Due: none

Differentiate buttons on that form.
  templates/js/main.js
Due: eslint

More checking for everything vs. title.
  core/views.py
Due: pending-migrations

Default to show everything field if populated.
  templates/components/ol-search-form.html
Due: none

Fix the everything check.
  templates/components/ol-search-form.html
Due: none

Add day of week to logbook detailed timestamp.
  templates/components/logbook-list.html
Due: none

Handle focus changes from everything to title.
  core/views.py
  templates/components/ol-search-form.html
Due: pending-migrations

Fix all the status forms!
  core/views.py
Due: pending-migrations

Add status modal to book detail page.
  core/views.py
  templates/book_detail.html
  templates/components/status-modal.html
  templates/js/main.js
  templates/status.html
Due: pending-migrations, eslint

Make sure SQLite installs without a prompt.
  Dockerfile
Due: none

Correct title case on things from Open Library.
  core/cover_helpers.py
  core/views.py
  pyproject.toml
  uv.lock
Due: pending-migrations

Get everything/title display showing correctly.
  templates/components/ol-search-form.html
Due: none

Updates.
  package-lock.json
  uv.lock
Due: none

Fix no-cover on logbook page.
  static_src/css/pages/logbook.css
  templates/components/logbook-list-item.html
Due: stylelint

Add fun date / relative time thing on Changelog.
  templates/changelog.html
  templates/components/logbook-list.html
Due: none

Make user + title constraint case-insensitive.
  core/migrations/0017_alter_book_unique_together_book_user_title_unique.py
  core/models.py
  core/views.py
Due: pending-migrations

Speed the admin user page WAY up.
  core/admin.py
Due: pending-migrations

Don't send author if there isn't one…
  templates/book_detail.html
Due: none

Do the timestamp switch thing with status changes.
  templates/book_detail.html
Due: none
