Repository piepworks/stacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, eslint, stylelint

pending-migrations:
  name: Check for pending migrations
  language: system
  entry: .venv/bin/python manage.py makemigrations --check --dry-run
  pass_filenames: false

eslint:
  name: Run ESLint
  language: system
  entry: npx eslint ./templates/js
  pass_filenames: false

stylelint:
  name: Run Stylelint
  language: system
  entry: npx stylelint "static_src/css/*.css"
  pass_filenames: false

Truncate original image name to prevent errors
  core/models.py
Due: pending-migrations

Basic logbook functionality
  config/urls.py
  core/models.py
  core/views.py
  static_src/css/pages/all.css
  static_src/css/pages/logbook.css
  templates/logbook.html
Due: pending-migrations, stylelint

Spruce up Logbook a bit
  static_src/css/pages/logbook.css
  templates/logbook.html
Due: stylelint

Spruce up Logbook, look up proper status names
  core/models.py
  e2e/settings-page.spec.js-snapshots/settings-page-dark-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-webkit-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-webkit-darwin.png
  static_src/css/pages/logbook.css
  templates/base.html
  templates/book_detail.html
  templates/logbook.html
Due: pending-migrations, stylelint

Adjust logbook link spacing
  static_src/css/utilities/all.css
  templates/base.html
Due: stylelint

Hide the link if you're not logged in
  templates/base.html
Due: none

Fix note editing
  core/forms.py
  templates/book_detail.html
Due: pending-migrations

A big nasty dump of ChatGPT stuff…
  core/models.py
  core/views.py
  templates/book_detail.html
  templates/logbook.html
Due: pending-migrations

Consistent ish display of status names
  core/models.py
  core/templatetags/status_display.py
  templates/book_detail.html
  templates/logbook.html
Due: pending-migrations

Logbook looking pretty decent
  core/templatetags/get_book.py
  core/views.py
  static_src/css/pages/logbook.css
  templates/book_detail.html
  templates/logbook.html
Due: pending-migrations, stylelint

Update Playwright snapshots
  e2e/settings-page.spec.js-snapshots/settings-page-dark-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-webkit-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-webkit-darwin.png
Due: none

Things seem to be doing the right thing now
  core/views.py
  templates/logbook.html
Due: pending-migrations

More Logbook cleanup
  core/views.py
  templates/components/logbook-list-item.html
  templates/logbook.html
Due: pending-migrations

Very basic pagination
  core/views.py
  templates/components/book-list.html
  templates/logbook.html
Due: pending-migrations

Ajax-y logbook pagination
  core/views.py
  templates/components/logbook-list.html
  templates/logbook.html
Due: pending-migrations

Persistent + button matches responsive stuff
  static_src/css/components/all.css
  static_src/css/components/buttons.css
  static_src/css/components/persistent-bar.css
  templates/base.html
Due: stylelint

Revert "Persistent + button matches responsive stuff"
  static_src/css/components/all.css
  static_src/css/components/buttons.css
  static_src/css/components/persistent-bar.css
  templates/base.html
Due: stylelint

Toggle logbook timestamp
  templates/components/logbook-list.html
Due: none

Make a larger click target for logbook items
  static_src/css/pages/logbook.css
  templates/components/logbook-list-item.html
  templates/components/logbook-list.html
Due: stylelint

Error messages are red
  static_src/css/components/messages.css
Due: stylelint

"Add manually" link in add modal hover was bad
  static_src/css/components/buttons.css
Due: stylelint

Loading indicator on Open Library search button
  templates/components/ol-search-form.html
Due: none

Updates
  package-lock.json
  requirements/requirements.txt
Due: none

Open Library search stuff
  templates/components/ol-search-form.html
  templates/js/main.js
Due: eslint

Loading animation that seems to work in Safari!
  static_src/css/components/buttons.css
  templates/components/book-list.html
  templates/components/ol-search-form.html
Due: stylelint

Add new loader to logbook pagination
  templates/components/logbook-list.html
Due: none

Logbook gets its own main nav icon (tornado)
  static_src/css/components/buttons.css
  static_src/css/components/forms.css
  templates/base.html
Due: stylelint

Don't trigger loading animation with invalid form
  static_src/css/components/buttons.css
  templates/components/ol-search-form.html
Due: stylelint

Add custom ordering to the cover model.
  config/settings.py
  core/admin.py
  core/migrations/0012_alter_bookcover_options_bookcover_order.py
  core/migrations/0013_update_cover_order.py
  core/models.py
  requirements/requirements.in
  requirements/requirements.txt
Due: pending-migrations

Show image tag and link to cover from book
  core/admin.py
Due: pending-migrations

Allow people to actually use cover order
  config/urls.py
  core/views.py
  static_src/css/components/buttons.css
  templates/book_detail.html
Due: pending-migrations, stylelint

Update Playwright with the Logbook link change
  e2e/settings-page.spec.js-snapshots/settings-page-dark-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-dark-webkit-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-chromium-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-firefox-darwin.png
  e2e/settings-page.spec.js-snapshots/settings-page-light-webkit-darwin.png
Due: none

Fix pagination loading animations
  static_src/css/components/buttons.css
Due: stylelint

Don't show ordering buttons for books w/ 1 cover
  templates/book_detail.html
Due: none

Disable ordering buttons that do nothing.
  templates/book_detail.html
Due: none

Optionally track number of pages for a book.
  core/cover_helpers.py
  core/forms.py
  core/migrations/0014_book_pages.py
  core/models.py
  core/views.py
  templates/book_detail.html
  templates/ol_search.html
Due: pending-migrations

Fix loading spinner on open library modal.
  templates/components/ol-search-form.html
Due: none

Fix removing spinner on back button.
  templates/js/main.js
Due: eslint

Order books in reading status by started date.
  core/views.py
Due: pending-migrations

Get uv working in production.
  Dockerfile
Due: none

Path conditions:
  pending-migrations: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
  stylelint: any of: \.css$
